<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
  <p>Usuario ESTÁ logado / <%= current_user.email %> </p>
<% else %>
  <p>Usuario Não está logado</p>
<% end %>

<% if admin_signed_in? %>
  <p>Administrador ESTA logado / <%= current_admin.email %> </p>
<% else %>
  <p>Administrador Não está logado</p>
<% end %>